@model T_FANCY_Back.Models.FrontHome

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FrontHome</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="animated_tex" class="control-label"></label>
                <input asp-for="animated_tex" class="form-control" />
                <span asp-validation-for="animated_tex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="historical_text" class="control-label"></label>
                <input asp-for="historical_text" class="form-control" />
                <span asp-validation-for="historical_text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hommeCollection_image" class="control-label"></label>
                <input asp-for="hommeCollection_image" class="form-control" />
                <span asp-validation-for="hommeCollection_image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="femmeCollection" class="control-label"></label>
                <input asp-for="femmeCollection" class="form-control" />
                <span asp-validation-for="femmeCollection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
